In [1]:
# PREDICTION OF CRIME INDEX USING SENTENCED DATA

In [3]:
# IMPORTING THE REQUIRED LIBRARIRES
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
#LOADING THE REQUIRED DATASETS
df1=pd.read_csv("crime-index-2023.csv")

In [5]:
df1

     Rank          City                Country  Crime Index  Safety Index
0       1       Caracas              Venezuela         83.6          16.4
1       2      Pretoria           South Africa         82.0          18.0
2       3        Durban           South Africa         81.0          19.0
3       4  Port Moresby       Papua New Guinea         80.7          19.3
4       5  Johannesburg           South Africa         80.7          19.3
..    ...           ...                    ...          ...           ...
411   412       Sharjah   United Arab Emirates         15.9          84.1
412   413         Ajman   United Arab Emirates         15.5          84.5
413   414        Taipei                 Taiwan         15.1          84.9
414   415          Doha                  Qatar         14.5          85.5
415   416     Abu Dhabi   United Arab Emirates         11.2          88.8

[416 rows x 5 columns]

In [17]:

# Aggregate Crime Data by Country
crime_grouped = df1.groupby("Country", as_index=False).agg({
    "Crime Index": "mean", 
    "Safety Index": "mean"
})

In [7]:
crime_grouped

          Country  Crime Index  Safety Index
0              AB        63.10         36.90
1              AK        62.30         37.70
2              AZ        52.55         47.45
3     Afghanistan        79.80         20.20
4         Albania        42.30         57.70
..            ...          ...           ...
136     Venezuela        83.60         16.40
137       Vietnam        45.05         54.95
138            WA        52.80         47.20
139            WI        50.75         49.25
140      Zimbabwe        60.60         39.40

[141 rows x 3 columns]

In [8]:
y.shape

NameError: name 'y' is not defined

In [ ]:
#FINDING THE MISSING VALUES IF PRESENT
df1.isnull().sum()

In [19]:
# FEATURING
X=crime_grouped[["Safety Index"]]
y=crime_grouped["Crime Index"]

In [21]:
X

     Safety Index
0           36.90
1           37.70
2           47.45
3           20.20
4           57.70
..            ...
136         16.40
137         54.95
138         47.20
139         49.25
140         39.40

[141 rows x 1 columns]

In [23]:
y

0      63.10
1      62.30
2      52.55
3      79.80
4      42.30
       ...
136    83.60
137    45.05
138    52.80
139    50.75
140    60.60
Name: Crime Index, Length: 141, dtype: float64

In [25]:
#SPLITING THE DATA
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [27]:
# Debugging: Print shapes of X and y
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (141, 1)
Shape of y: (141,)

In [29]:
# Debugging: Print shapes after split
print("X_train shape:", X_train.shape, "X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape, "y_test shape:", y_test.shape)

X_train shape: (112, 1) X_test shape: (29, 1)
y_train shape: (112,) y_test shape: (29,)

In [31]:
# Check if train/test data is empty
if X_train.empty or X_test.empty:
    print("Error: Training or testing data is empty. Check dataset.")
else:
    # Train the Linear Regression Model
    lr = LinearRegression()
    lr.fit(X_train, y_train)

In [33]:
#MAKING PREDICTIONS
y_pred=lr.predict(X_test)

In [35]:
  # Evaluate the Model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Crime Data - Mean Squared Error: {mse}")
print(f"Crime Data - R-squared Score: {r2}")

Crime Data - Mean Squared Error: 1.2795867924688411e-28
Crime Data - R-squared Score: 1.0

In [37]:
lr.score(X_test,y_test)*100

100.0

In [39]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\mahesh\anaconda3\lib\site-packages (5.0.1)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pyodbc

# Database Connection
conn = pyodbc.connect(
    "DRIVER={SQL Server};"
    "SERVER=DESKTOP-8A5LB2O\VAGISH;"
    "DATABASE=crime;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

# Create Table (if not exists)
cursor.execute("""
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='ML_Predictions' AND xtype='U')
CREATE TABLE ML_Predictions (
    ID INT IDENTITY(1,1) PRIMARY KEY,
    Actual_Value FLOAT,
    Predicted_Value FLOAT
)
""")

# Insert Predictions into SQL Server
for actual, predicted in zip(y_test, y_pred):
    cursor.execute("INSERT INTO ML_Predictions (Actual_Value, Predicted_Value) VALUES (?, ?)", actual, predicted)

conn.commit()
cursor.close()
conn.close()

print("Predictions saved to SQL Server successfully!")

Predictions saved to SQL Server successfully!

<>:6: SyntaxWarning: invalid escape sequence '\V'
<>:6: SyntaxWarning: invalid escape sequence '\V'
C:\Users\MAHESH\AppData\Local\Temp\ipykernel_5704\1060309092.py:6: SyntaxWarning: invalid escape sequence '\V'
  "SERVER=DESKTOP-8A5LB2O\VAGISH;"